{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

  <!-- Introduction Hero -->
  <section class="container" id="content">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-5">
      <div class="col-lg-6">
        <div class="responsive-image-container d-block mx-auto">
          <img src="{{ url_for('static', filename='img/aboutpage.jpg') }}" alt="my image for about page" class="responsive-image">
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div>

              <p class="lead-text block-text" id="call-to-action">Welcome to My World!</p>

              <p class="paragraph">Hello! I'm Ruth Selorme Acolatse, a passionate communicator pursuing an undergraduate degree in Journalism at Marmara University in Istanbul, Turkey. I am enthused about communication and our ability as humans to manipulate language to convey complex thoughts, feelings and emotions in order to evoke action. My love for travel and exploration brought me to Türkiye, and I’ve chronicled the experiences that led me <a href="{{ url_for('turkiyegecilmez') }}">here</a> on my blog. Feel free to dive into my story and explore how this vibrant city has shaped my path.</p>

              <p class="paragraph">Debate has been a significant part of my life, shaping my thoughts, interactions, actions, and inaction. I've had the honor of judging the Open Grand Final of the World Universities Debating Championships twice (2023 & 2024), as well as the Grand Final of the World Schools Debating Championship twice in 2023 and 2024. These experiences have fueled my love for intellectual discourse, eloquence, and mental stimulation.</p>

              <p class="paragraph">Public speaking is another arena where I strive to excel. I’m proud to have earned the title of World's Public Speaking Runner-Up for 2024, a testament to my dedication and passion for compelling communication.</p>

              <p class="paragraph">If it is not clear already, I value the ability to have freedom to explore and engage with the world around us, another sophisticated way of saying 'I love travelling'. According to my Google Maps history, I've circled the globe more than twice and visited 24 countries so don't take my word for it. My travels have been a source of inspiration and adventure, enriching my life in countless ways.</p>

              <p class="paragraph">Currently, I'm delving into the world of programming, learning Python, exploring Computational Journalism tools, Artificial Intelligence and machine learning with hopes of becoming a Computational Journalist. Stay tuned for updates on my coding journey and discoveries in Computational Journalism <a href="{{ url_for('projects') }}">here!</a> My greatest achievement of all is writing the very code that built this website from scratch by myself!</p>

              <p class="paragraph">Now that I've shared a glimpse of my world, explore the menu to discover more about me and my endeavors. Grab a snack, settle in, and enjoy your visit! You can also follow my adventures on social media: </p>

              <!-- Social Media Icons Centered -->
              <div class="d-flex justify-content-center align-items-center gap-3">
                <a class="text-body-secondary" href="https://www.linkedin.com/in/ruth-acolatse-0450181a1/"><img class="lin socials" src="/static/img/linkedindark.svg" width="30" height="30" /></a>
                <a class="text-body-secondary" href="https://www.instagram.com/sselorme"><img class="ins socials" src="/static/img/instagramdark.svg" width="30" height="30" /></a>
                <a class="text-body-secondary" href="https://www.facebook.com/sselorme"><img class="fac socials" src="/static/img/facebookdark.svg" width="30" height="30" /></a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

{% endblock %}
