{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

  <!-- Introduction Hero -->
  <section class="container" id="content">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-5">
      <div class="col-10 col-sm-8 col-lg-6 mx-auto">
        <div class="responsive-image-container d-block mx-auto">
          <img src="{{ url_for('static', filename='img/me.jpg') }}" alt="Ruth Selorme Headshot" class="responsive-image">
        </div>
      </div>
      <div class="col-lg-6">
        <h1 class="lead-text display-5 fw-bold text-body-emphasis lh-1 mb-3">Ruth Selorme Acolatse</h1>
        <h4>Journalism Major | Marmara University</h4>
        <h5><i>Hobbies</i></h5>
          <p>Singing</p>
          <p>Travelling</p>
          <p>Cooking</p>
          <p>Journaling</p>
          <p>Content creation</p>
          <p>Python programming</p>
          <p>Debate (apparently it's a hobby)
        <p><a href="{{ url_for('about') }}"><em>Continue Reading...</em></a></p>
       </div>
      </div>
  </section>

  <!-- Portfolio Section -->
  <section>
    <div class="container text-center">
      <!-- Header Section -->
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-5">
        <h3 class="lead-text" id="portfolio">Portfolio</h3>
        <!-- Projects Section -->
        <div class="col-lg-12">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
            <!-- First Project -->
            <div class="col" id="first-project">
              <img src="{{ url_for('static', filename='img/spotifylogo.jpg') }}" class="responsive-image">
              <h3 class="title">Spotify top-100 songs of the day playlist creator</h3>
              <p>Sometimes all we want to do is to create a special playlist for that special day. This project uses Spotify's API, requests module, and web scraping capabilities to seamlessly create that special playlist based on the top 100 billboard songs from any given day of your choice...</p>
              <p><a href="/post/16"><em>Read More...</em></a></p>
            </div>

            <!-- Second Project -->
            <div class="col" id="second-project">
              <img src="{{ url_for('static', filename='img/webbot.jpg') }}" class="responsive-image">
              <h3 class="title">Twitter bot (Automation)</h3>
              <p>Bots! They are everywhere. Some even swear they are going to take our jobs but all you've got to do is learn how to make them do the work for you so they don't take your job, they provide you with a new job - watching them. Using Selenium, here's a bot I created to make your tweets for you while you enjoy your beverage...</p>
              <p><a href="{{ url_for('projects') }}"><em>Read More...</em></a></p>
            </div>

            <!-- Third Project -->
            <div class="col" id="third-project">
              <img src="{{ url_for('static', filename='img/transcription.jpeg') }}" class="responsive-image">
              <h3 class="title">Speech to Text (Transcription)</h3>
              <p>Sometimes you just can't catch the words people say or even if you do, you forget after blinking. Not to worry, this project uses pydub and Google Cloud's speech recognition to transcribe any audio you want to transcribe. Best of all, even though Google has an audio size limit of 10MB, you can transcribe any size audio using this code and here's why...</p>
              <p><a href="/post/17"><em>Read More...</em></a></p>
            </div>

            <!-- Fourth Project -->
            <div class="col" id="fourth-project">
              <img src="{{ url_for('static', filename='img/quizapp.png') }}" class="responsive-image">
              <h3 class="title">Quiz Game</h3>
              <p>So you think you are smart and can best any quiz at all? Can you face off Quiz_Brain in this tkinter designed game and come out victorious? Answer questions about general and weirdly specific knowledge to test the limits of your intellectual capacity while having fun. No! Do not ask GPT for the answers...</p>
              <p><a href="{{ url_for('projects') }}"><em>Read More...</em></a></p>
            </div>
            <p><a href="{{ url_for('projects') }}"><em>View More Projects...</em></a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--  Blog Section-->
  <section>
    <div class="container text-center">
      <!-- Header Section -->
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-5">
        <h3 class="lead-text" id="blog">Blog</h3>
        <!-- Align Recent Posts to Left -->
        <div class="col-12 d-flex justify-content-start">
            <p><a href="{{ url_for('blogs') }}" class="blog"><em>Recent Posts...</em></a></p>
        </div>
        <!-- Projects Section -->
        <div class="col-lg-12">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
            <!-- First Project -->
            <div class="col" id="python-blog">
              <img src="{{ url_for('static', filename='img/python.jpg') }}" class="responsive-image">
              <h3 class="title">Yapping about Python</h3>
              <p>When I started programming, I made a social media post about it and some of you reached out to ask me about my motivation, the difficulties I encounter and how I overcome them so here's a blog of me yapping about everything python. Enjoy!</p>
              <p><a href="{{ url_for('projects') }}"><em>Read More...</em></a></p>
            </div>

            <!-- Second Project -->
            <div class="col" id="ugescapades">
              <img src="{{ url_for('static', filename='img/UG.jpg') }}" class="responsive-image">
              <h3 class="title">UG Escapades</h3>
              <p>Living in Ghana is like living in a maze. Living in a university in Ghana is the Hunger Games. You just never know when your very own existence will become a weapon fashioned against you but the good news is I went through the experience so you can learn from mine. Unless...</p>
              <p><a href="{{ url_for('ugescapades') }}"><em>Read More...</em></a></p>
            </div>
            <p><a href="{{ url_for('blogs') }}"><em>View All Blog Posts...</em></a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}